[submodule "pack/nerdtree/start/nerdtree"]
	path = pack/nerdtree/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/fugitive/start/fugitive"]
	path = pack/fugitive/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/fzf/start/fzf"]
	path = pack/fzf/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/gitgutter/start/vim-gitgutter"]
	path = pack/gitgutter/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/lsp/start/vim-lsp"]
	path = pack/lsp/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/lsp/start/vim-lsp-settings"]
	path = pack/lsp/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
[submodule "pack/lsp/start/asyncomplete"]
	path = pack/lsp/start/asyncomplete
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "pack/lsp/start/asyncomplete-lsp"]
	path = pack/lsp/start/asyncomplete-lsp
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
